*.pyc
.DS_Store
.idea/*
*.pickle
__pycache__/*
*.pkl
*.txt
*.gz
*.mat
*.bmp
*.html
*.pt
*.zip
CIGER/output/*
CIGER/saved_model/*
10-DEBC/perturbation_signatures/*.png
bayesian_processing/*
CIGER/utils/*.png
CIGER/GSEA_Linux_4.3.2/*

